@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Oswald' !important;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.list-table {
    width: 100%;
    overflow: auto;
    background-color: #e7e7e7;
}
.list-table table thead {
    top: 0;
    position: sticky;
    background-color: #a0a0a0;
}
.list-table table th, td {
    padding: 1%;
}
.icons-clear {
    font-size: xx-large;
    cursor: pointer;
}
.hide {
    display: none;
}
.show {
    display: block;
}

.home {
    width: 100%;
    min-height: 100%;
    background: #fff;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
.header .header-content {
    width: 100%;
    padding: 0 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header .header-content .logo-cate,
.header .header-content .search-cart-login {
    height: 50px;
    display: flex;
    align-items: center;
}
.header .header-content .logo-cate {
    position: absolute;
    left: 3%;
}
.header .header-content .logo-cate .menu_mini {
    margin: 0 5%;
    display: none;
    font-size: x-large;
    position: relative;
}
.header .header-content .logo-cate .logo {
    align-items: center;
    display: flex;
    margin-right: 5%;
}
.header .header-content .logo-cate .cate {
    height: 100%;
    margin-left: 6%;
    font-size: medium;
}
.header .header-content .logo-cate .cate .content,
.header .header-content .logo-cate .menu_mini .cate_mini .content {
    text-transform: uppercase;
    padding: 0 1.5%;
}
.header .header-content .logo-cate .cate .content:hover,
.header .header-content .logo-cate .menu_mini .cate_mini .content:hover{
    background-color: #e7e7e7;
    font-weight: 700;
}
.header .header-content .search-cart-login {
    gap: 8%;
    right: 4%;
    position: absolute; 
}
.header .header-content .search-cart-login .login .account {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
}
.header .header-content .search-cart-login .login .account .info {
    font-size: medium;
    font-weight: 400;
    margin-right: 0.5%;
}
.header .header-content .search-cart-login .login .menu {
    right: 0;
    top: 105%;
    z-index: 50;
    display: flex;
    font-weight: 400;
    min-width: 150px;
    font-size: medium;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1.25rem 1rem 1.25rem;
    box-shadow:
        -10px 0 10px -5px rgba(0, 0, 0, 0.2), /* Cạnh bên trái */
        10px 0 10px -5px rgba(0, 0, 0, 0.2), /* Cạnh bên phải */
        0 10px 10px -5px rgba(0, 0, 0, 0.2); /* Cạnh dưới */
}
.header .header-content .search-cart-login .search,
.header .header-content .search-cart-login .minicart {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
}
.header .header-content .search-cart-login .search .square, 
.header .header-content .search-cart-login .minicart .square {
    width: 25px;
    height: 25px;
    z-index: 40;
    transform: rotate(45deg);
    right: -30%;
    top: 40px;
    position: absolute;
    background-color: #000;
}
.header .header-content .search-cart-login .search .search_content {
    right: -100%;
}
.header .header-content .search-cart-login .minicart .minicart_content {
    right: -100%;
}
.header .header-content .search-cart-login .search .search_content,
.header .header-content .search-cart-login .minicart .minicart_content { 
    top: 50px;
    height: auto;
    z-index: 50;
    display: flex;
    font-weight: 400;
    font-size: medium;
    position: absolute;
    flex-direction: column;
    background-color: #000;
    border-radius: 10px;
    padding:  0.75rem 1.25rem 0.75rem 1.25rem;
    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);
}
.header .header-content .search-cart-login .search .search_content {
    min-width: 300px;
}
/* .header .header-content .search-cart-login .minicart .minicart_content {
    min-width: 600px;
} */
.header .header-content .search-cart-login .search .search_content .search_product {
    color: #fff;
    margin-top: 5%;
    padding: 2%;
}

.main {
    width: 100%;
    padding: 0 5%;
    flex-direction: column;
}

.homepage {
    width: 100%;
    flex-direction: column;
}
.homepage .list-pagination {
    width: 100%;
}
.tag_category {
    width: 100%;
    display: grid;
    margin-top: 2%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* ---------- LOGIN - REGISTER - FORGOT ---------- */
.bg-frame {
    width: 100%;
    margin: 5% 0;
}
.bg-frame .frame {
    width: 31rem;
    padding: 1.875rem;
    border-radius: 0.5rem;
}
.bg-frame .frame .title {
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 4%;
}
.bg-frame .frame .forminput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.bg-frame .frame .formbutton {
    margin-top: 8%;
}
.bg-frame .frame .transit {
    margin-top: 1%;
}
.bg-frame .frame .transit .text {
    cursor: pointer;
}
.bg-frame .frame .transit .text:hover {
    color: #3482F6;
}

.footer {
    width: 100%;
    background-color: #fff;
    min-height: 100%;
    padding: 2% 5%;
}
.footer .title {
    display: flex;
    gap: 0.625rem;
    font-size: xx-large ;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.1em;
    margin-left: 3rem;
}
.footer .icons-media {
    font-size: x-large;
    padding-right: 2%;
}

.wrapper-heading-home-instagram {
    padding-bottom: 0px !important;
    font-family: 'Oswald' !important;
    width: 100%;
    font-size: 5.85vw;
    height: auto!important;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: hsl(0deg 0% 100%);
}
.wrapper-heading-home {
    padding: 20px 0;
    text-align: center;
}
.wrapper-animation2 {
    animation: animationText2 15s linear infinite;
    white-space: nowrap;
}
.wrapper-animation2 {
    animation-name: animationText2;
}
.text-animation-2 {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
@keyframes animationText2 {
0% {
    transform: translateZ(0);
}
100% {
    transform: translate3d(-100vw,0,0);
}
}