@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Oswald' !important;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.list-table {
    width: 100%;
    overflow: auto;
    background-color: #e7e7e7;
}
.list-table table thead {
    top: 0;
    position: sticky;
    background-color: #a0a0a0;
}
.list-table table th, td {
    padding: 1%;
}
.icons-clear {
    font-size: xx-large;
    cursor: pointer;
}
.hide {
    display: none;
}
.show {
    display: block;
}

.home {
    width: 100%;
    min-height: 100%;
    background: #fff;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header .header-content {
    width: 100%;
    padding: 0 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header .header-content .logo-cate,
.header .header-content .search-cart-login {
    height: 50px;
    display: flex;
    align-items: center;
}
.header .header-content .logo-cate {
    position: absolute;
    left: 3%;
}
.header .header-content .logo-cate .logo {
    align-items: center;
    display: flex;
    margin-right: 5%;
}
.header .header-content .logo-cate .cate {
    height: 100%;
    margin-left: 6%;
    font-size: medium;
}
.header .header-content .logo-cate .cate .content {
    text-transform: uppercase;
    padding: 0 1.5%;
}
.header .header-content .logo-cate .cate .content:hover{
    background-color: #e7e7e7;
    font-weight: 700;
}
.header .header-content .search-cart-login {
    gap: 8%;
    right: 4%;
    position: absolute; 
}
.header .header-content .search-cart-login .login .account {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
}
.header .header-content .search-cart-login .login .account .info {
    font-size: medium;
    font-weight: 400;
    margin-right: 0.5%;
}
.header .header-content .search-cart-login .login .menu {
    right: 0;
    top: 105%;
    z-index: 50;
    display: flex;
    font-weight: 400;
    min-width: 150px;
    font-size: medium;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1.25rem 1rem 1.25rem;
    box-shadow:
        -10px 0 10px -5px rgba(0, 0, 0, 0.2), /* Cạnh bên trái */
        10px 0 10px -5px rgba(0, 0, 0, 0.2), /* Cạnh bên phải */
        0 10px 10px -5px rgba(0, 0, 0, 0.2); /* Cạnh dưới */
}

.main {
    width: 100%;
    padding: 0 5%;
    flex-direction: column;
}

/* ---------- LOGIN - REGISTER - FORGOT ---------- */
.bg-frame {
    width: 100%;
    margin: 5% 0;
}
.bg-frame .frame {
    width: 31rem;
    padding: 1.875rem;
    border-radius: 0.5rem;
}
.bg-frame .frame .title {
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 4%;
}
.bg-frame .frame .forminput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.bg-frame .frame .formbutton {
    margin-top: 8%;
}
.bg-frame .frame .transit {
    margin-top: 1%;
}
.bg-frame .frame .transit .text {
    cursor: pointer;
}
.bg-frame .frame .transit .text:hover {
    color: #3482F6;
}

/* TYPE */
.type, .category, .sample, 
.list, .product, .dimension, .color, .quantity, .image, 
.role, .permission, .function, .menu, .state,
.invoice, .account, .slide,
.transfer, .transmission, .allocation, .transfer_page {
    margin-top: 1%;
}
.type .header-type .content, .list .header-list .content, 
.role .header-role .content, .permission .header-permission .content,
.slide .header-slide .content, .state .header-state .content,
.menu .header-menu .content, .function .header-function .content,
.transfer .header-transfer .content {
    margin-right: 1%;
}
.type .header-type .content span, .list .header-list .content span, 
.role .header-role .content span, .slide .header-slide .content span,
.transfer .header-transfer .content span {
    padding: 0 2% 0.5% 2%;
    border-bottom: 1px solid #000;
}

.category .header-category, .sample .header-sample, .account .header-account, .role .header-role,
.color .header-color, .dimension .header-dimension, .image .header-image, .quantity .header-quantity,
.permission .header-permission, .slide .header-slide, .state .header-state,
.menu .header-menu, .function .header-function, .transfer_page .header-transfer_page,
.transmission .header-transmission, .allocation .header-allocation, .create_product, .update-product{
    margin: 1rem 0;
}
.category .form-category, .permission .form-permission, .function .form-function, 
.transmission .form-transmission, .allocation .form-allocation {
    gap: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.sample .form-sample, .account .form-account, .color .form-color,
.dimension .form-dimension, .slide .form-slide, .menu .form-menu {
    gap: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.state .form-state, .transfer_page .form-transfer_page {
    gap: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.update-category, .update-sample, .update-category, .update-dimension, 
.update-color, .update-permission, .update-slide, .update-state, .update-menu,
.update-function, .update-transfer_page, .update-transmission, .update-allocation {
    gap: 1%;
    display: flex;
    flex-direction: 2;
}
.category .list-category, .sample .list-sample, .account .list-account, 
.color .list-color, .dimension .list-dimension, .permission .list-permission,
.state .list-state, .menu .list-menu, .function .list-function,
.transfer_page .list-transfer_page, .allocation .list-allocation {
    margin: 1rem 0;
    height: 480px;
}
.product .list-product, .image .list-image, .quantity .list-quantity, .slide .list-slide,
.transmission .list-transmission {
    margin: 1rem 0;
    height: 550px;
}

.create_product {
    gap: 1%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.create_product .shows {
    grid-column: span 2 / span 2;
}
.create_info .form-create_info {
    gap: 1%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 809px) {
    .header .header-content .logo-cate .logo .text-logo {
        display: none;
    }
    .create_product {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .create_product .shows {
        grid-column: span 1 / span 1;
    }
}

@media (max-width: 679px) {
    .header .header-content .logo-cate .cate {
        display: none;
    }
    .icons-clear {
        font-size: x-large;
    }
    .sample .form-sample,.category .form-category,
    .account .form-account, .permission .form-permssion, 
    .slide .form-slide, .color .form-color, .dimension .form-dimension, 
    .function .form-function, .transmission .form-transmission,
    .allocation .form-allocation{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .hide {
        display: block;
    }
    .create_product .shows, .show {
        display: none;
    }
    .create_product {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 499px) {
    
}