/* --------------- PERSONAL  ---------------*/
.personal {
    margin: 2% 0;
}
.personal .title {
    font-weight: 700;
    font-size: xx-large;
    letter-spacing: 0.05em;
}
.personal .name_account {
    font-size: larger;
}

.information .title {
    padding-bottom: 1%;
    font-weight: 600;
    font-size: larger;
    letter-spacing: 0.005em;
    border-bottom: 1px solid #a0a0a0;
}
.information .content_information {
    padding: 1% 0;
    font-size: medium;
}

.like {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.like-unlike {
    height: 5%;
    color: #000;
    display: flex;
    align-items:flex-end;
    padding: 2rem 1rem 0 0px;
    justify-content: end;
    font-size: larger;
}
/* --------------- LIST_FILTER_ITEM_RETAL  ---------------*/
.lists {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.retal {
    width: 100%;
    flex-direction: column;
}
.retal .retal-header {
    width: 100%;
}
.retal .retal-header .retal-header_title {
    margin-top: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 0.1em;
}
.filter {
    width: 100%;
    margin: 2% 0;
}
.filter .filter-category {
    width: 100%;
}
.filter .filter-category .tagname {
    gap: 5%;
    width: 100%;
    display: flex;
    cursor: pointer;
    font-size: large;
    text-decoration-line: underline;
}
.filter .filter-price {
    display: flex;
}
.filter .filter-price .filter-title {
    width: 40%;
}
.item {
    display: inline-block;
    
}
.item .product_content .tag {
    flex-direction: column;
    margin-top: 0.5rem;
}
.item .product_content .tag .price {
    font-size: large;
    font-weight: 600;
    margin: 1px;
}
.item .product_content .tag .basic_price-discount {
    display: flex;
}
.item .product_content .tag .basic_price-discount .basic_price {
    text-decoration-line: line-through;
    font-family: 'Oswald' !important;
    font-size: small;
    margin: 1px;
    color: #a0a0a0;
}
.item .product_content .tag .basic_price-discount .discount {
    margin: 1px;
    background-color: #000;
    padding: 0.025rem 0.35rem;
    color: #fff;
    font-weight: 600;
    font-size: small;
}

/* --------------- DETAIL --------------- */
.detail {
    height: 600px;
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.detail .detail_image {
    gap: 2%;
    height: 100%;
    display: flex;
}
.detail .detail_image-bar {
    width: 20%;
}
.detail .detail_content {
    height: 100%;
    padding: 0 4% 0 4%;
}
.detail .detail_content .detail_content-title {
    font-weight: 700;
    font-size: xx-large;
}
.detail .detail_content .detail_content-id {
    color: #a0a0a0;
    font-size: small;
}
.detail .detail_content .detail_content-price,
.detail .detail_content .detail_content-select .select-size {
    margin: 5% 0;
}
.detail .detail_content .detail_content-price .price {
    font-weight: 600;
    font-size: x-large;
}
.detail .detail_content .detail_content-select .select-color .select-color_box {
    display: flex;
}
.detail .detail_content .detail_content-select .select-color .box_color {
    width: 30px;
    height: 30px;
    margin-right: 2%;
}

.detail .detail_content .detail_content-select .select-size .box_size {
    gap: 2%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.detail .detail_content .detail_content-button {
    gap: 2%;
    font-size: larger;
    display: grid;
    margin: 10% 0 5% 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.detail .detail_content .detail_content-infor .infor_title {
    font-weight: 600;
}

/* --------------- WEBSERVER --------------- */
/* TYPE */
.type, .category, .sample, 
.list, .product, .dimension, .color, .quantity, .image, 
.role, .permission, .function, .menu, .state,
.invoice, .account, .slide,
.transfer, .transmission, .allocation, .transfer_page {
    margin-top: 1%;
}
.type .header-type .content, .list .header-list .content, 
.role .header-role .content, .permission .header-permission .content,
.slide .header-slide .content, .state .header-state .content,
.menu .header-menu .content, .function .header-function .content,
.transfer .header-transfer .content {
    margin-right: 1%;
}
.type .header-type .content span, .list .header-list .content span, 
.role .header-role .content span, .slide .header-slide .content span,
.transfer .header-transfer .content span {
    padding: 0 2% 0.5% 2%;
    border-bottom: 1px solid #000;
}

.category .header-category, .sample .header-sample, .account .header-account, .role .header-role,
.color .header-color, .dimension .header-dimension, .image .header-image, .quantity .header-quantity,
.permission .header-permission, .slide .header-slide, .state .header-state,
.menu .header-menu, .function .header-function, .transfer_page .header-transfer_page,
.transmission .header-transmission, .allocation .header-allocation, .create_product, .update-product, 
.create_detail {
    margin: 1rem 0;
}
.category .form-category, .permission .form-permission, .function .form-function, 
.transmission .form-transmission, .allocation .form-allocation, 
.quantity .form-quantity {
    gap: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.sample .form-sample, .account .form-account, .color .form-color,
.dimension .form-dimension, .slide .form-slide, .menu .form-menu {
    gap: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.state .form-state, .transfer_page .form-transfer_page {
    gap: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.update-category, .update-sample, .update-category, .update-dimension, 
.update-color, .update-permission, .update-slide, .update-state, .update-menu,
.update-function, .update-transfer_page, .update-transmission, .update-allocation,
.update-quantity {
    gap: 1%;
    display: flex;
    flex-direction: 2;
}
.category .list-category, .sample .list-sample, .account .list-account, 
.color .list-color, .dimension .list-dimension, .permission .list-permission,
.state .list-state, .menu .list-menu, .function .list-function,
.transfer_page .list-transfer_page, .allocation .list-allocation,
.quantity .list-quantity {
    margin: 1rem 0;
    height: 480px;
}
.product .list-product, .image .list-image, .slide .list-slide,
.transmission .list-transmission {
    margin: 1rem 0;
    height: 550px;
}

.create_product .form-create_product, .create_image .form-create_image,
.update_product .form-update_product {
    gap: 1%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.create_detail .title {
    font-size: medium;
    font-weight: 600;
}
.create_detail .form-create_detail {
    gap: 1%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}